.sectoin-1{
    width: 1346px;
height: 273px;
margin-top: 10%;
left: 46px;
top: 135px;

background: #F5F5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 40px;
}
.title-1{
    width: 350px;
height: 23px;
margin-left: 90px;
padding-top:50px;

font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 113.72%;
}
.para-1{
    width: 124px;
height: 18px;
margin-left: 90px;
top: 245px;

font-style: normal;
font-size: 16px;
line-height: 113.72%;
}

.input-1{
    box-sizing: border-box;
width: 936px;
margin-left: 87px;
height: 61px;
left: 90px;

background: #FFFFFF;
border: 1px solid #18A3E4;
border-radius: 10px;
}

.bttn-1{
    width: 225px;
    height: 61px;
    left: 1097px;
    top: 281px;
    border: none;
    cursor: pointer;
    margin-left: 34px;  
    background: #18A3E4;
    box-shadow: 0px 8px 13px rgba(0, 0, 0, 0.25);
    border-radius: 19px; 
}
.check-box-style{
    width: 18px;
height: 14px;
left: 129px;
top: 585px;

background: #18A3E4;
}
.list-view{
    width: 75%;
    display: flex;
    justify-content: space-between;
    margin-left: 95px;
}
.list-title{
    width: 95px;
height: 23px;
left: 129px;
top: 501px;
margin-left: 98px;
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 113.72%;


color: #000000;
}

.header-section{
    position: absolute;
width: 1442px;
height: 97px;
left: 0px;
top: 2px;
background: rgba(228, 228, 228, 0.36);
box-shadow: 0px 1px 17px rgba(0, 0, 0, 0.25);
border-radius: 0px;
}

.img-section{
    /* position: absolute; */
width: 49px;
height: 29px;
left: 50px;
top: 36px;


/* background: url(image.png); */
filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
}
.logo-section{
    display: flex;
    justify-content: left;
    position: absolute;
width: 211px;
height: 29px;
left: 50px;
top: 36px;
}
.h-title{
    width: 160px;
height: 26px;
left: 101px;
top: 30px;

font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 113.72%;


letter-spacing: -0.05em;

color: #828282;
}